.rit_logo {
    width: 15%;
    margin: 2%;
}

.Login {
    background-color: #FFFFFF;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: rgb(29, 25, 20);
}

.head {
    display: flex;
}

.log_cont {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: blue;
}

.acc {
    margin-top: auto;
    margin-bottom: auto;
    width: 20%;
    margin-left: 60%;
    display: flex;
    justify-content: right;
}

.acc h3 {
    margin-top: 1.5%;
    text-align: right;
}

.acc .dp {
    margin-top: 1.5%;
    margin-left: 3%;
    margin-right: 1%;
    width: 20%;
    height: fit-content;
}

.cont {
    margin-top: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    font-size: 25px;
    font-weight: 800;
    color: #174273;
}

.attend_div {
    text-align: center;
    width: 20%;
    border: 1px solid;
    margin-right: 10%;
    border-radius: 10%;
}

.mark_div {
    width: 20%;
    border: 1px solid;
    border-radius: 10%;
}