.img-thumbnail{
    width: 200px;
}



.img-thumbnail{
    display: flex;
    margin: auto;
    margin-top: 60px;
    background: burlywood;
    border-radius: 100px;
    margin-bottom: 40px;
}

.button-group{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
#button{
    width: 200px;
    margin: auto;
    border-radius: 16px;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
}

.student{
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}